/* ESTILO GERAL*/

*{
    --cor1: rgb(148, 0, 211);
    --cor2: #7f7f7f;
    --cor3: rgb(148, 0, 211, 0.900);
    --cor4: rgb(127, 127, 127, 0.900);

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: black;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--cor1);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-social a{
    text-decoration: none;
    width: 60px;
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0;
    background-color: var(--cor1);
    font-size: 22px;
    cursor: pointer;
    margin: 0 10px;
}

button:hover, .btn-enviar input:hover{
    box-shadow: 0px 0px 8px var(--cor3);
    transform: scale(1.05);
    transition: 0.3s;
}

.flex{
    display: flex;
}

h2.titulo{
    color: white;
    text-align: center;
    font-size: 40px;
    cursor: default;
}

h2.titulo span{
    color: var(--cor1);
}

/*ESTILO CABEÇALHO*/

header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img.logo_agencia{
    width: 120px;
}

header a{
    color: var(--cor2);
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
}

header a:hover{
    color: white;
    transform: scale(1.1);
}

header nav ul{
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

/*ESTILO TOPO DO SITE*/

section.topo-site{
    padding: 40px 7%;
}

section.topo-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

section.topo-site .txt-topo-site h1{
    color: white;
    font-size: 44px;
    line-height: 40px;
}

section.topo-site .txt-topo-site h1 span{
    color: var(--cor1);
}

section.topo-site  .txt-topo-site p{
    color: white;
    margin: 40px 0;
}

section.topo-site .img-topo-site img{
    width: 250px;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0% {
        top: 0;
    }

    100%{
        top: 30px;
    }
}

/* ESTILO ESPECIALIDADES */

.especialidades{
    padding: 50px 7%;
    margin-top: 100px;
}

.especialidades .flex{
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.especialidades .flex .catalogo{
    color: white;
    padding: 35px;
    margin-top: 45px;
    border-radius: 20px;
    width: 300px;
    height: 400px;
    transition: .2s;
}

.especialidades .flex .catalogo:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px rgb(255, 255, 255, 0.600);
}

.especialidades .flex .catalogo img{
    width: 80px;
}

.especialidades .flex .catalogo h3{
    margin: 15px 0;
    font-size: 28px;
}

/*ESTILO SOBRE MIM*/

.sobre-mim{
    padding: 80px 7%;
}

.sobre-mim .flex{
    align-items: center;
    gap: 40px;
}

.sobre-mim .informacoes-img img{
    height: 500px;
    border-radius: 20px;
}

.sobre-mim .informacoes{
    color: white;
}

.sobre-mim .informacoes h2{
    text-align: left;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre-mim .informacoes h2 span{
    display: block;
}

.sobre-mim .informacoes p{
    margin: 20px 0;
    text-align: justify;
}

.sobre-mim .informacoes img {
    width: 60px;
    height: 60px;
    margin: 20px 20px 0px 0px;
}

/*ESTILO PORTIFOLIO*/

.portifolio{
    padding: 50px 7%;
    box-shadow: 0px 0px 40px 10px rgb(255, 255, 255, 0.100);
}

.portifolio .flex{
    margin-top: 40px;
    justify-content: space-around;
}

.portifolio .box{
    width: 360px;
    height: 460px;
    background-color: var(--cor1);
    background-size: cover;
    background-position: 0%;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
    transition: 7s;
}

.portifolio .box:hover{
    background-position: 100%;
}

.portifolio .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    opacity: 0;
}

.portifolio .overlay:hover{
    opacity: 1;
    transition: 0.7s;
}

/*ESTILO FORMULARIO*/

.formulario{
    padding: 80px 7%;
}

.formulario form{
    max-width: 500px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.formulario form input, .formulario form textarea{
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: white;
    font-size: 18px;
}

.formulario form textarea{
    resize: none;
    max-height: 200px;
}

.formulario form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

.formulario form .btn-enviar input{
    width: 110px;
    background-color: var(--cor1);
    font-weight: 700;
    cursor: pointer;
    color: black;
    transition: .2s;
}

/* ESTILO RODAPE */

footer{
    padding: 40px 7%;
    box-shadow: 0px 0px 40px 10px rgb(255, 255, 255, 0.100);
}

footer .flex{
    justify-content: space-between;
}

footer .line-footer{
    padding: 20px 0;
}

footer .borda{
    border-bottom: 2px solid var(--cor1);
}

footer .line-footer p i{
    color: var(--cor1);
    font-size: 22px;
}

footer .line-footer p a{
    color: white;
}